# Ignora CUALQUIER node_modules en CUALQUIER lugar
**/node_modules

# Ignora CUALQUIER .env.local en CUALQUIER lugar
#**/.env*.local

# Archivos específicos de Next.js (con prefijo o sin él)
**/.next/
**/out/
**/build/

# Misc
.DS_Store
*.pem

# Archivos de Vercel y TS
.vercel
**/*.tsbuildinfo
**/next-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*